<h2 mat-dialog-title>{{title}}</h2>
<div>
    <mat-dialog-content [formGroup]="myForm">
        <mat-form-field>
          <input matInput
                 placeholder="Text1 Description"
                 formControlName="description">
        </mat-form-field>
        <mat-select placeholder="Select category" formControlName="category">
          <mat-option value="1">Active</mat-option>
          <mat-option value="0">Inactive</mat-option>
        </mat-select>
        <mat-checkbox formControlName="yesNo"> I'm a checkbox</mat-checkbox>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="save()">Save</button>
      <button mat-raised-button type="button" class="Discard-btn" (click)="closeDialog()">Close</button>
    </mat-dialog-actions>
</div>
